mat-card {
    width: 100%;
    align-self: center;
}

.card-wrapper {
    background-color: rgb(32, 32, 32);
    text-align: right;
    border-radius: 2%;
    border-color: orange;
    border-width: 1px;
    padding: 16px;
    margin-bottom: 16px;

    .card-content {
        color: orange;

        .grid-header {
            font-weight: 500;
            font-size: large;
            color: orange
        }

        .grid-title {
            .label {
                font-weight: 500;
            }
        }
    }

    .title {
        padding-top: 10px;
        text-align: center;
        color: orange;
    }
}