.card-wrapper {
    background-color: grey;
    text-align: right;

    .card-content {
        background-color: grey;
        text-align: right;
        align-self: center;

        .content {
            background-color: rgb(158, 158, 158);

            .label {
                font-weight: 500;
            }
        }
    }

    .title {
        padding-top: 10px;
        text-align: center;
        color: rgb(60, 255, 86);
    }
}