@use '@angular/material' as mat;
html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$orange-palette,
    typography: Roboto,
    density: 0
  ));
}

// Optional: globale Styles für Body
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(26, 26, 26);
}